@model List<ApplicationUserModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="main-body">
        <div class="row">
            @foreach (var item in Model.OrderBy(x => x.TipoGruppo))
            {
                <div class="col-3 d-flex align-items-stretch">
                    <div class="card" style="width: 13rem;">
                        <img src="@item.ImageProfile" class="rounded-circle" alt="..." style="height:50%;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nome</h5>
                            <p class="card-text">@item.Professione -@item.TipoGruppo.Nome</p>
                            <a href="@Url.Action("BecomeFan", "Explore", new { idProfilo = item.IdProfilo })" class="btn btn-primary">Diventa suo Fan!</a>
                            <a action="" href="@Url.Action("ViewProfile", "Explore", new { idProfilo = item.IdProfilo })" class="link-info">Vedi profilo</a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>