@model IEnumerable<EsperienzaModel>
@{
    ViewData["Title"] = "Esperienze";
}
@{

    var diploma = Model.FirstOrDefault(x => x.IdTipoEsperienza == (int)LinkedInHomeMade.Enum.TipoEsperienze.Diploma);
    var universita = Model.FirstOrDefault(x => x.IdTipoEsperienza == (int)LinkedInHomeMade.Enum.TipoEsperienze.Università);
}

<div class="container">
    <div class="main-body">


        <div class="row w-100 ">
            <div class="col-md-12">
                <h2 class="text-info">Università</h2>
                <div class="card h-auto">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Titolo di Studio</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @universita.TitoloStudio
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Università</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @universita.Istituto
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Voto Laurea</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @universita.Votazione
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Località</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @universita.Localita
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Descrizione</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @universita.Descrizione
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row w-100 mt-4">
            <div class="col-md-12">
                <h2 class="text-info">Diploma</h2>
                <div class="card h-auto">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Titolo di Studio</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @diploma.TitoloStudio
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Istituto</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @diploma.Istituto
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Voto Laurea</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @universita.Votazione
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Località</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @diploma.Localita
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

