@model IEnumerable<EsperienzaModel>
@{
    ViewData["Title"] = "Esperienze";
}

<div class="main-body">
    <div class="row h-100 ">
        <div class="col-md-12">
            @foreach (var exp in Model.OrderBy(x => x.Inizio))
            {
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#@exp.Azienda" aria-expanded="true" aria-controls="@exp.Azienda">
                                    @exp.Azienda
                                </button>
                            </h2>
                        </div>

                        <div id="@exp.Azienda" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">

                                <div class="row">
                                   <span>Periodo: </span> @exp.Inizio - @exp.Fine
                                </div>
                                <div class="row">
                                    @exp.Descrizione
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
